form .field-type-text-sections-field .field-multiple-table td.field-multiple-drag{
	white-space: nowrap;
	width: auto;
}

.field-type-text-sections-field td.text-sections-fields .form-item{
	float: left;
	margin-right: 20px;
}

.field-type-text-sections-field fieldset{
	padding: 1.5em;
}